!/container/Dockerfile
/container/usr
/container/vscode
/container/projects/*
!/container/projects/led
!/container/projects/scripts
!/container/projects/Makefile

/.direnv
/.envrc
/result
/result-*

/dist
