!/container/Dockerfile
/container/usr
/container/vscode
/container/projects/*
!/container/projects/linux-imx
!/container/projects/uboot-imx
!/container/projects/rootfs-etc
!/container/projects/drivers
!/container/projects/scripts
!/container/projects/Makefile

/.direnv
/.envrc
/result
/result-*

/dist
